---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ColorPaletteGenerator from '../components/ColorPaletteGenerator.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<ColorPaletteGenerator />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		min-width: 1200px;
		min-height: 100vh;
		max-width: calc(100% - 2rem);
		color: rgb(0, 0, 0);
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

</style>
